.box {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: .4rem .2rem 0 .2rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: .1rem;
}

.pic {
    width: 100%;
    display: block;
}

.descBox {
    font-size: .3rem;
    padding: .5rem 0 .5rem 0;
}

.desc {
    padding-left: .15rem;
    border-left: .15rem solid #bbb;
}